<div class="mb-4" data-link-id="<%= comment.link_id %>">
  <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
  <div class="ml-4 mt-2">
    <%= link_to "Reply", reply_link_comment_path(comment.link, comment), class: "text-sm text-blue-500" %>
    
    <div id="<%= dom_id(comment, "replies") %>">
      <%= render comment.replies %>
    </div>
  </div>
</div>