<%= form_with(model: [link, comment], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field bg-white p-4 mb-4 bg-white rounded-lg shadow p-4">
    <%= form.text_area :content, rows: 3,required: true, class: "w-full p-2 border rounded" %>


  <%= form.hidden_field :parent_id %>

  <div class="actions mt-2">
    <%= form.submit "Post Comment", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
  </div>
    </div>
<% end %>