    <nav class="bg-indigo-900 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <%= link_to "Real Ancient History", root_path, class: "text-xl font-bold" %>
        <div>
          <%= link_to "Best", best_links_path, class: "text-white hover:text-indigo-200 mr-4" %>
          <% if logged_in? %>
            <%= link_to "Submit", new_link_path, class: "text-white hover:text-indigo-200 mr-4" %>
            <%= link_to "Log out", logout_path, data: { turbo_method: :delete }, class: "text-white hover:text-indigo-200" %>
          <% else %>
            <%= link_to "Log in", login_path, class: "text-white hover:text-indigo-200" %>
          <% end %>
        </div>
      </div>
    </nav>