<!DOCTYPE html>
<html>
  <head>
    <title>Ancient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-100">
    <%= render "shared/nav" %>
    <main class="container mx-auto mt-8 px-4">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
